@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

/* basic css reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* - Very dark cyan: hsl(183, 100%, 15%)
- Dark grayish cyan: hsl(186, 14%, 43%)
- Grayish cyan: hsl(184, 14%, 56%)
- Light grayish cyan: hsl(185, 41%, 84%)
- Very light grayish cyan: hsl(189, 41%, 97%)
- Strong cyan: hsl(172, 67%, 45%)
/* /*   */

:root {
  --main-bg-color: hsl(185, 41%, 84%);
  --main-white-color: hsl(0, 0%, 100%);
  --main-v-dark-cyan: hsl(183, 100%, 15%);
  --main-strong-cyan: hsl(172, 67%, 45%);
  --main-v-light-cyan: hsl(189, 41%, 97%);
  --main-l-grey-cyan: hsl(185, 41%, 84%);
  --main-greyish-cyan: hsl(184, 14%, 56%);
  --main-dark-gray-cyan:hsl(186, 14%, 43%);
}
body {
  font-family: "Space Mono", monospace;
  background-color: var(--main-bg-color);
}



/*  credits section  */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
